#exportPattern("^[[:alpha:]]+")
export("runAnchoredFusion")
export("annovar.exon.cds.extraction")
export("snpEff.exon.cds.extraction")
export("AnchoredFusion.breakpoint.anno.postscript")
export("fq2png")
